{% extends 'inicio/base.html' %}
{% load static %}

{% block about %}
    <h2>Acerca de mi</h2>

   
        <p style="color:rgba(6, 1, 1, 0.811)" align="center">
            <h2>¡Bienvenidos a DreamChopper!</h2></p>
    <h4>   
          <p>  Mi nombre es Zajia Lopez Arbelaez, he decidido combinar mi experiencia en comercialización,
            adquirida en la Universidad de Belgrano, con mi pasión por la programación y la tecnología.
            El resultado es DreamChopper, una tienda en línea dedicada a todos los amantes de las dos ruedas.</p>
            
           <p> En  DreamChopper, nos dedicamos a proporcionar a los motociclistas una amplia gama de accesorios de alta calidad
            para satisfacer todas sus necesidades. Desde guantes resistentes hasta equipo de cuero completo para enfundar tu moto,
            aquí encontrarás todo lo que necesitas para disfrutar de tu viaje de manera segura y con estilo.</p>
            
          <p>  Nuestra misión es brindarte productos de alta calidad que garanticen tu comodidad y seguridad en la carretera.
            Trabajamos incansablemente para ofrecer la mejor selección de accesorios a precios competitivos.
            Además, nuestro equipo está comprometido en proporcionar un excelente servicio al cliente y asesoramiento
            para ayudarte a tomar las decisiones correctas para tu viaje en motocicleta.</p>
            
           <p> Lola Arbelaez (mi mamá), la mente creativa y creadora detrás de DreamChopper, tiene años de experiencia en la industria
            y se enorgullece de ofrecer productos de alta calidad que reflejan su pasión por las motocicletas.</p>
            
          <p>  Gracias por visitar DreamChopper. Esperamos que encuentres los accesorios perfectos para tu próxima aventura en dos ruedas.
            Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos. ¡Estamos aquí para servirte!</p>
    </h4>
{% endblock about %}